* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

h1 {
    margin: 50px;
    text-align: center;
    font-size: 4em;
}

section.row {
    position: relative;
}

section.container {
    position: relative;
}


h2 {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #000000;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}

#menu_1 {
    background-color: #ffff00;
}

#menu_2 {
    background-color: #ff0000;
}

#menu_3 {
    background-color: #00ffff;
}

p {
    border: 2px solid #2f2f4f;
    background-color: #add8e6;
    height: 300px;
    color: #000000;
    text-align: justify;
    padding: 60px 10px 5px 10px;
    overflow: auto;
margin: 5px;
}

.row {
    width: 100%;
    padding: 15px;
}

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        width: 33.33%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2 {
        float: left;
        width: 50%;

    }

    .col-md-3 {
        float: left;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3 {
        float: left;
        width: 100%;
    }
}